*.xml
*.suo
[Bb]in
[Oo]bj
*.csproj.user
*.resharper.user
.gitattributes
packages/*
*.dll
.vs/config/applicationhost.config
.vs/*
*.user
WebUI/Libs/*
WebUI/StandaloneSamples/.idea/workspace.xml
WebUI/StandaloneSamples/bower_components/*
WebUI/StandaloneSamples/libs/*
WebUI/bower_components/*
*.dll

bower_components

ObstacleDetection/configs/

npm-debug.log

*.orig
RecordedData/*
